<div class="container">
  <app-card-module
    (click)="navigateTo('articles')"
    img="logo-articulos.png"
    title="Gestion de articulos"
  >
  </app-card-module>
  <app-card-module
    (click)="navigateTo('services')"
    img="logo-servicios.png"
    title="Gestion de servicios"
  >
  </app-card-module>
  <app-card-module
    (click)="navigateTo('categories')"
    img="logo-categorias.png"
    title="Gestion de categorias"
  >
  </app-card-module>
  <app-card-module
    (click)="navigateTo('purchases')"
    img="logo-compras.png"
    title="modulo de documentos de compra"
  >
  </app-card-module>
  <app-card-module
    (click)="navigateTo('discharges')"
    img="logo-bajas.png"
    title="modulo de documentos de baja"
  >
  </app-card-module>
</div>
