mat-expansion-panel-header {
  width: 100% !important;
}

mat-panel-title {
  display: flex !important;
  justify-content: space-between !important;
}

mat-card-content {
  display: flex;
  flex-direction: column;
}

mat-card {
  margin: 10px 0;
}

.edit {
  background-color: #61BD5F;
  color: white;
}

.delete {
  background-color: #BB4141;
  color: white;
}

button {
  margin: 0px 10px 10px 0px;
}