<div class="container">
    <div class="contForm">
        <form>
            <mat-form-field>
                <mat-label>Tipo de categoria</mat-label>
                <mat-select [(ngModel)]="data.newCategory.type" name="type">
                    <mat-option *ngFor="let opt of types" [value]="opt"> {{opt|titlecase}} </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="data.newCategory.type == 'SECCION'||data.newCategory.type == 'FAMILIA'">
                <mat-label>Departamento</mat-label>
                <mat-select [(ngModel)]="departament" name="departament">
                    <mat-option *ngFor="let dpto of departaments" [value]="dpto.id"> {{dpto.name|titlecase}} </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="data.newCategory.type == 'FAMILIA' ">
                <mat-label>Seccion</mat-label>
                <mat-select [(ngModel)]="section" name="section">
                    <mat-option *ngFor="let scc of sections" [value]="scc.id"> {{scc.name|titlecase}} </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="data.newCategory.type == 'DEPARTAMENTO'|| data.newCategory.type == 'SECCION'||data.newCategory.type == 'FAMILIA'">
                <mat-label>Nombre de la categoria</mat-label>
                <input matInput [(ngModel)]="data.newCategory.name" name="data.newCategory.name">
            </mat-form-field>
        </form>
    </div>
    <div class="contButton">
        <app-button-blue [mat-dialog-close]="data.newCategory" *ngIf="data.newCategory.type == 'DEPARTAMENTO'|| data.newCategory.type == 'SECCION'||data.newCategory.type == 'FAMILIA'">Crear nueva categoria</app-button-blue>
        <!-- <button mat-button [mat-dialog-close]="data.newCategory.type" cdkFocusInitial>Ok</button> -->
    </div>
    
    
</div>